@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

.text, h1 {
  text-align: center;
  color: #ffee00;
}

header {
  width: 100%;
  background-color: #070707;
  background-image: linear-gradient(to left, #d209ec, #2e122e);
}
header .nav a img {
  width: 40px;
  height: 40px;
}
header .nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
header .nav li {
  list-style: none;
  margin: 20px;
  transform: scale(1.3);
}
header .nav li:hover {
  transform: scale(1.2);
}
header .nav ul {
  display: flex;
  flex-wrap: wrap;
}
header .nav a {
  margin: 30px;
  color: #ffffff;
}
header .nav a:hover {
  color: #ffee00;
}
header .nav img {
  width: 137px;
  margin-left: -26px;
}
header .navbar-toggler {
  background-color: #d209ec;
}

.navbar-nav {
  --bs-nav-link-color: #fff;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}

footer {
  background-color: #070707;
  background-image: linear-gradient(to left, #2e122e, #070707);
  color: burlywood;
}
footer .footer-index {
  display: flex;
  flex-wrap: wrap;
}
footer .col-md-4 {
  padding: 60px;
}
footer .col-md-4 a:link {
  color: #ffee00;
}
footer .col-md-4 a:visited {
  color: chartreuse;
}
footer .col-md-4 a:active {
  color: #d209ec;
}
footer .social-icons img {
  width: 40px;
  height: 40px;
}
footer .social-icons li {
  list-style: none;
}
footer .row {
  flex-direction: row-reverse;
}

main {
  background-image: url(https://www.mordeo.org/files/uploads/2019/03/Keanu-Reeves-In-John-Wick-Chapter-3-%E2%80%93-Parabellum-4K-Ultra-HD-Mobile-Wallpaper-950x1689.jpg);
  background-size: cover;
}
main p {
  color: #ffee00;
  background-color: #d209ec;
  border-radius: 15px;
  text-align: center;
}
main p:hover {
  background-color: #e862f9;
}

.col {
  flex: 1 0 0%;
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
  margin-bottom: 10%;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 375px) {
  .header-index1 {
    display: none;
  }
}
@media (min-width: 376px) {
  .header-index2 {
    display: none;
  }
}
header.nav-item .dropdown-menu {
  background-color: rgba(216, 29, 35, 0.831372549);
}
header.nav-item .dropdown-menu a {
  color: #ffffff;
}

main.main-pelis {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
main.main-pelis .container {
  flex-wrap: wrap;
  padding: 2px;
}
main.main-pelis .col {
  flex: 1 0 0%;
  display: flex;
  justify-content: space-around;
}
main.main-pelis .row {
  --bs-gutter-x: -0.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  justify-content: space-around;
}
main.main-pelis .btn-primary {
  background-color: #0D6EFD;
}
main.main-pelis .titulo-h1 {
  display: flex;
}

@media (max-width: 375px) {
  .header-peliculas1 {
    display: none;
  }
}
@media (min-width: 376px) {
  .header-peliculas2 {
    display: none;
  }
}
main .col {
  flex: 1 0 0%;
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
  margin-bottom: 10%;
}

@media (max-width: 375px) {
  .header-series1 {
    display: none;
  }
}
@media (min-width: 376px) {
  .header-series2 {
    display: none;
  }
}
main .container {
  flex-wrap: wrap;
  padding: 18px;
}

@media (max-width: 375px) {
  .header-musica1 {
    display: none;
  }
}
@media (min-width: 376px) {
  .header-musica2 {
    display: none;
  }
}
main .main-reg {
  background-image: url(https://palomaynacho.com/wp-content/uploads/2022/12/john-wick-ccxp-poster.jpg);
  color: #ffffff;
  min-height: 1000%;
  margin-top: 20px;
}

.form-label {
  color: #ffee00;
}

.form-section {
  padding: 1px;
  height: 1500px;
}

@media (max-width: 375px) {
  .header-registro1 {
    display: none;
  }
}
@media (min-width: 376px) {
  .header-registro2 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */