$negro: #070707;
$gris: #537895;
$blanco: #ffffff;
$rojizo: #dc143c;
$gris-claro: #5b5c5b;
$azul-claro: #0D6EFD;
$rojo-coral: #d81d23d4;
$violeta-dark: #2e122e;
$violeta: #d209ec;
$amarillo: #ffee00;
$dorado: burlywood;
$verde-lima: chartreuse;