header {
    width: 100%;
    background-color: $negro;
    background-image: linear-gradient(to left, $violeta, $violeta-dark);

    .nav {
        a {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;

        li {
            list-style: none;
            margin: 20px;
            transform: scale(1.3);

            &:hover {
                transform: scale(1.2);
            }

        }

        ul {
            display: flex;
            flex-wrap: wrap;
        }

        a {
            margin: 30px;
            color: $blanco;


            &:hover {
                color: $amarillo;

            }
        }

        img {
            width: 137px;
            margin-left: -26px;
        }

    }

    .navbar-toggler {
        background-color: $violeta;

    }
}

.navbar-nav {
    --bs-nav-link-color: #fff;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #fff;
}

footer {
    background-color: $negro;
    background-image: linear-gradient(to left, $violeta-dark, $negro);
    color: $dorado;


    .footer-index {
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-4 {
        padding: 60px;

        a {
            &:link {
                color: $amarillo;
            }

            &:visited {
                color: $verde-lima;
            }

            &:active {
                color: $violeta;

            }
        }
    }

    .social-icons {
        img {
            width: 40px;
            height: 40px;
        }

        li {
            list-style: none;
        }

    }

    .row {
        flex-direction: row-reverse;
    }

}

main {
    background-image: url(https://www.mordeo.org/files/uploads/2019/03/Keanu-Reeves-In-John-Wick-Chapter-3-%E2%80%93-Parabellum-4K-Ultra-HD-Mobile-Wallpaper-950x1689.jpg);
    background-size: cover;

    p {
        color: $amarillo;
        background-color: $violeta;
        border-radius: 15px;
        text-align: center;

        &:hover {
            background-color: lighten($color: $violeta, $amount: 20);
        }
    }



}



.col {
    flex: 1 0 0%;
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    margin-bottom: 10%;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    @extend .text;
}




@media (max-width: 375px) {
    .header-index1 {
        display: none;
    }
}

@media (min-width: 376px) {
    .header-index2 {
        display: none;
    }

}

@media(max-width:375px) {
    
    .footer-index {
        display: none;
    }
    h3{
        color: $dorado;
        text-align: center;
        text-decoration: none;
    }
}

@media(min-width: 376px) {
    .footer-index2 {
        display: none;
    }
}