main {
    .container {
        flex-wrap: wrap;
        padding: 18px;


    }
}






@media (max-width: 375px) {
    .header-musica1 {
        display: none;
    }

}

@media (min-width: 376px) {
    .header-musica2 {
        display: none;
    }

}