header.nav-item {
    .dropdown-menu {
        background-color: $rojo-coral;
        a {
            color: $blanco;
        }
    }
}
main.main-pelis {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .container {
        flex-wrap: wrap;
        padding: 2px;
    }

    .col {
        flex: 1 0 0%;
        display: flex;
        justify-content: space-around;
    }

    .row {
        --bs-gutter-x: -0.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        justify-content: space-around;
    }

    .btn-primary {
        background-color: $azul-claro;

    }
    .titulo-h1{
        display: flex;
    }
}
@media (max-width: 990px) {
    .header-peliculas1 {
        display: none;
    }
}
@media (min-width: 991px) {
    .header-peliculas2 {
        display: none;
    }
}