.main-pelis{

    .text-center {
    text-align: center;
    display: flex;

    }
}
@media (max-width: 375px){
    .header-series1{
        display: none;
    }

}
@media (min-width:376px){
    .header-series2{
        display: none;
    }

}