main .col {
    flex: 1 0 0%;
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    margin-bottom: 10%;

}
@media (max-width: 375px){
    .header-series1{
        display: none;
    }

}
@media (min-width:376px){
    .header-series2{
        display: none;
    }

}